<div class="containar">
<div class="row">
	<div class="col-lg-4">
<h1>User info</h1>
<%= attachment_image_tag @user, :profile_image,:fill,60,60,format: 'jpeg', fallback: "no_image.jpg" %>

<h4>name</h4>
<%= @user.name %>
<h4>introduction</h4>
<%= @user.introduction %>
<%= link_to 'New', edit_user_path(@user), class: "btn btn-default" %>

<h1>New book</h1>
<%= form_for(@book) do |f| %>
<h3>Title</h3>
<%= f.text_field :title %>
<h3>Opinion</h3>
<%= f.text_area :body %>
<h3>
<%= f.submit 'Create Book' %>
</h3>
<% end %>
	</div>

<div class="col-lg-8">
  <table class="table table-striped">
<h1>Users</h1>

<table>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td>
					<%= attachment_image_tag user, :profile_image,:fill,30,30,format: 'jpeg', fallback: "no_image.jpg" %>
				</td>
				<td>
					<p><%= link_to user.name,user_path(user.id) %></p>
				</td>
				<td>
					<p><%= user.introduction %></p>
				</td>
				<td>
			  	</td>
		  	</tr>
		<% end %>
	</tbody>
</table>
</div></div>