<div class="container">
<div class="row">
<h1>Editing Book</h1>
<%= form_for :book, url: book_path, method: :patch do |f| %>
<% if @book.errors.any? %>
      <%= @book.errors.count %>
      個のerrorがあります<br>

      <% @book.errors.full_messages.each do |msg| %>
      <%= msg %><br>
      <% end %>
      <% end %>

<h4>Title</h4>
<%= f.text_field :title %>

<h4>Opinion</h4>
<%= f.text_area :body %>

<input class="btn btn-default btn-primary btn-block" type="submit" value="Update Book">
<% end %>

<p><%=link_to "Show", book_path(@book) %>|
	<%= link_to "Back", books_path %></p>
</div>
