<div class="containar">
<div class="row">
	<div class="col-lg-3">
<h1>User info</h1>
<%= attachment_image_tag @user, :profile_image,:fill,60,60,format: 'jpeg', fallback: "no_image.jpg" %>

<h4>name</h4>
<%= @user.name %>
<h4>introduction</h4>
<%= @user.introduction %>

<%= link_to edit_user_path(@user), class: "btn btn-default btn-block" do %>
<i class="glyphicon glyphicon-wrench">
</i><% end %>
<h1>New book</h1>
<%= form_for @book do |f| %>
<h3>Title</h3>
<%= f.text_field :title %>
<h3>Opinion</h3>
<%= f.text_area :body %>
<h3>
<%= f.submit 'Create Book', class: "btn-info btn-block" %>
</h3>
<% end %>
	</div>
<div class="col-lg-9">
  <table class="table table-striped">

<h1>Book detail</h1>
<p><%= flash[:notice] %></p>
			<tr><td>
				<%= attachment_image_tag @user, :profile_image,:fill,60,60,format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
				<%= @book.user.name %>
			</td>
<td>title:<%= @book.title %></td>
<td></td>
<td>body:<%= @book.body %></td>
<td><%= link_to "Edit", edit_book_path(@book), class: "btn-success btn-sm" %></td>

<td><%= link_to "Detroy", book_path(@book.id), method: :delete, class: "btn-danger btn-sm"%></td></tr>
</div></div>